.introduction {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    transition: 1.5s;
    margin-left: 20px;
    margin-top: 24px;
    border-radius: 12px;
    background-color: #fff;
    box-sizing: border-box;
    height: fit-content;
    margin-left: 10px;
    margin-right: 5px;
    font-family: "Open Sans", sans-serif;
    color: rgb(74, 74, 74);
    min-width: 260px;
  }
  
.introduction-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 12px;
}

.introduction-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 715px) {

    .introduction {
        width: 98%;
        margin: 0;
        padding-right: 0;
        margin-left: 1%;
    }

    .introduction-text {
        width: 100%;
        margin: 0;
    }
}