.calculator-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    gap: 48px;
    color: rgb(74, 74, 74);
    padding: 24px;
    border-radius: 12px;
    margin-top: 24px;
    width: 50%;
    background-color: #fff;
}
  
.calculator {
    width: 80%;
    min-width: 340px;
    max-width: 480px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #9ba4b4;
    height: 700px;
    border-radius: 12px;
    box-shadow: 2px 2px #394867;
}

.screen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 56px;
    color: #14274e;
    font-weight: 700;
    height: 140px;
    width: 90%;
    margin: 24px 0;
    border-radius: 12px;
    text-align: right;
    padding-right: 15px;
}

.calc-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    background-color: transparent;
    gap: 20px;
    height: 250px;
}

.calc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 97px;
    height: 80px;
    background-color: #14274e;
    color: #f1f6f9;
    border-radius: 12px;
    box-shadow: 1px 1px #f1f6f9;
    cursor: pointer;
    border: 1px solid #f1f6f9;
}

.calc-button:active {
    box-shadow: none;
    border: 0;
}

.calc-button:hover {
    background-color: #f1f6f9;
    color: #14274e;
}

.calc-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 97px;
    height: 80px;
    background-color: #394867;
    color: #f1f6f9;
    border-radius: 12px;
    box-shadow: 1px 1px #f1f6f9;
    cursor: pointer;
    border: 1px solid #f1f6f9;
}

.calc-button2:active {
    box-shadow: none;
    border: 0;
}

.calc-button2:hover {
    background-color: #f1f6f9;
    color: #14274e;
}

.zero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 218px;
    height: 80px;
    background-color: #14274e;
    color: #f1f6f9;
    border-radius: 12px;
    box-shadow: 1px 1px #f1f6f9;
    cursor: pointer;
    border: 1px solid #f1f6f9;
}

.zero-button:active {
    box-shadow: none;
    border: 0;
}

.zero-button:hover {
    background-color: #f1f6f9;
    color: #14274e;
}

.ac-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 218px;
    height: 80px;
    background-color: #394867;
    color: #f1f6f9;
    border-radius: 12px;
    box-shadow: 1px 1px #f1f6f9;
    cursor: pointer;
    border: 1px solid #f1f6f9;
}

.ac-button:active {
    box-shadow: none;
    border: 0;
}

.ac-button:hover {
    background-color: #f1f6f9;
    color: #14274e;
}

@media only screen and (max-width: 715px) {
    .calculator {
      margin-bottom: 10px;
    }

    .calc-buttons {
        flex-wrap: wrap;
      }
}