.calculator-body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73%;
  
    margin-left: 20px;
    margin-top: 10px;
  
    border-radius: 10px;
    background-color: transparent;
    box-sizing: border-box;
  
    height: 83%;
    margin-left: 10px;
    margin-right: 5px;
    font-family: "Open Sans", sans-serif;
    color: rgb(74, 74, 74);
    padding-right: 20px;
    min-width: 260px;
  }
  
.calculator {
    width: 25%;
    min-width: 340px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #9ba4b4;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px #394867;
}

.screen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    font-size: 30px;
    color: #14274e;
    font-weight: 700;
    height: 20%;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f1f6f9;
    border-radius: 10px;
    text-align: right;
    padding-right: 15px;
}

.calc-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    background-color: transparent;
    gap: 1%;
    height: 38%;
}

.calc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 21%;
    height: 31%;
    background-color: #14274e;
    color: #f1f6f9;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 15px;
    box-shadow: 2px 2px #f1f6f9;
    cursor: pointer;
    border: 1px solid #f1f6f9;
}

.calc-button:active {
    box-shadow: none;
    border: 0;
}

.calc-button:hover {
    background-color: #f1f6f9;
    color: #14274e;
}

.calc-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 21%;
    height: 31%;
    background-color: #394867;
    color: #f1f6f9;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 15px;
    box-shadow: 2px 2px #f1f6f9;
    cursor: pointer;
    border: 1px solid #f1f6f9;
}

.calc-button2:active {
    box-shadow: none;
    border: 0;
}

.calc-button2:hover {
    background-color: #f1f6f9;
    color: #14274e;
}

.zero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 45%;
    height: 28%;
    background-color: #14274e;
    color: #f1f6f9;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px #f1f6f9;
    cursor: pointer;
    border: 1px solid #f1f6f9;
}

.zero-button:active {
    box-shadow: none;
    border: 0;
}

.zero-button:hover {
    background-color: #f1f6f9;
    color: #14274e;
}

.ac-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 45%;
    height: 28%;
    background-color: #394867;
    color: #f1f6f9;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px #f1f6f9;
    cursor: pointer;
    border: 1px solid #f1f6f9;
}

.ac-button:active {
    box-shadow: none;
    border: 0;
}

.ac-button:hover {
    background-color: #f1f6f9;
    color: #14274e;
}

@media only screen and (max-width: 715px) {
    .calculator {
      margin-bottom: 10px;
    }

    .calc-buttons {
        flex-wrap: wrap;
      }
}