header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
    width: 100%;
    height: 10vh;
    align-items: center;
  }
  
  .starwars-input {
    height: 50%;
    width: 33%;
    border: none;
    box-shadow: 2px 2px grey;
    border-radius: 12px;
    color: #9ba4b4;
    margin-left: 20px;
  }
  
  .actors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    background-color: transparent;
    box-sizing: border-box;
  }
  
  .actors > div {
    margin-top: 5px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
  }
  
  .result {
    font-size: 140%;
    width: 30%;
    max-width: 400px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-weight: 700;
    color: rgb(247, 236, 236);
    background-color: #9ba4b4;
    box-shadow: 2px 2px #9ba4b4;
    padding: 10px;
    border-radius: 12px;
    min-height: 90px;
    min-width: 210px;
  }

  .resultButton {
    gap: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #394867 !important;
  }
  
  .sortButton {
    background-color: #394867 !important;
  }
  
  .showMore {
    font-size: 80%;
    color: #f1f6f9;
  }

@media only screen and (max-width: 715px) {
    .actors {
        width: 100%;
        margin: 0;
        padding: 5px;
    }
}