.contact-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #fff;
    flex: 0 0 345px;
    height: fit-content;
    margin-top: 24px;
    min-width: 300px;
    font-family: "Open Sans", sans-serif;
    border-radius: 12px;
    padding-bottom: 2px;
    position: sticky;
    top: 73px;
    min-height: fit-content;
    z-index: -1;
}

.name-pic {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.profile-img {
    margin: 12px auto;
    border-radius: 50%;
    width: 80%;
    border: 1px solid #394867;
    box-shadow: 2px 2px #394867;
}

.contact {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #394867;
    border-radius: 12px;
    padding: 10px 0 2px 12px;
    width: 90%;
    height: fit-content;
    flex-direction: column;
    margin: 0 12px 10px;
    margin-bottom: 10px;
}

.line {
    width: 95%;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #394867;
    border-bottom: 1px solid #394867;
    margin-bottom: 10px;
}

.contact-img {
    margin-bottom: 10px;
    width: 20px;
}

@media only screen and (max-width: 715px) {
    .contact-card {
        width: 98%;
        margin: 0;
        margin-top: 20px;
        margin-left: 1%;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        gap: 20px;
        padding: 5px;
    }

    .contact {
        width: 60%;
        margin: 0;
        margin-right: 10px;
        height: fit-content;
      }
    
      .contact-detail {
        margin: 4px;
      }
}

@media only screen and (max-width: 715px) {
    .contact {
        min-height: 50px;
        }
}