.contact-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 22%;
    background-color: #394867;
    height: fit-content;
    min-width: 350px;
    font-family: "Open Sans", sans-serif;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 1px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    position: sticky;
    top: 70px;
    min-height: fit-content;
}

.profile-img {
    margin-top: 3%;
    margin-left: 6%;
    margin-bottom: 1%;
    border-radius: 50%;
    width: 60%;
    border: 1px solid #f1f6f9;
    box-shadow: 2px 2px #9ba4b4;
}

.name-pic {
    height: fit-content;
}

.contact {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #9ba4b4;

    color: #f1f6f9;
    border-radius: 5px;
    padding: 10px 5px 2px 5px;
    width: 90%;
    height: fit-content;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    min-height: 250px;
}

.line {
    width: 95%;
    color: #f1f6f9;
    border-bottom: 2px solid #f1f6f9;
    margin-bottom: 10px;
}

.contact-detail {
    color: #14274e;
    background-color: #f1f6f9;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 90%;
}

@media only screen and (max-width: 715px) {
    .contact-card {
        width: 98%;
        margin: 0;
        margin-top: 20px;
        margin-left: 1%;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        gap: 20px;
        padding: 5px;
    }

    .contact {
        width: 60%;
        margin: 0;
        margin-right: 10px;
        height: fit-content;
      }
    
      .contact-detail {
        margin: 4px;
      }
}

@media only screen and (max-width: 715px) {
    .contact {
        min-height: 50px;
        }
}