.navbar {
    display: flex;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.58);
    position: sticky;
    padding: 0 64px;
    justify-content: space-around;
    width: 100%;
    background-color: #f1f6f9;
    box-sizing: border-box;
    border-bottom: 1px solid #9ba4b4;
    text-decoration: none;
    top: 0;
    height: 60px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 12px;
  }
  
  .navbar a,
  .navbar h3 {
    text-decoration: none;
    font-size: 24px;
    color: #14274e;
    padding: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    height: fit-content;
    border-radius: 12px;
  }
  
  .navbar h3 {
    cursor: pointer;
  }
  
  .navbar:visited {
    background-color: aquamarine;
  }
  
  .navbar a:hover,
  .navbar h3:hover {
    background-color: #9ba4b4;
    color: #fdf5ec;
    transition: 0.6s;
    border-radius: 12px;
  }

  .englishButton {
    margin: 6px 0 6px 32px;
    padding: 8px 20px;
    font-size: 18px;
    border: 0;
    border-radius: 6px;
    background-color: #14274e;
    color: #f1f6f9;
  }
  
  @media only screen and (max-width: 850px) {
    .navbar a {
      font-size: 16px;
    }
  
    .navbar h3 {
      font-size: 16px;
    }
  
    .navbar {
      padding: 5px;
    }
  
    .navbar a:hover {
      background-color: #878c94;
      color: #fdf5ec;
      transition: 0.6s;
      padding: 7px;
      border-radius: 12px;
    }
  
    .navbar h3:hover {
      background-color: #878c94;
      color: #fdf5ec;
      transition: 0.6s;
      padding: 7px;
      border-radius: 12px;
    }
  }
  
  @media only screen and (max-width: 540px) {
    .navbar {
      flex-wrap: wrap;
      padding: 5px;
      height: fit-content;
    }
  }