@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 92vh;
  width: 100%;
}

.kepkapcsolat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 19%;
  background-color: lightgray;
  height: 88vh;
  min-width: 260px;
  font-family: "Open Sans", sans-serif;
  margin-top: 23px;
  margin-left: 10px;
  margin-right: 1px;
  padding-bottom: 2px;
  color: rgb(74, 74, 74);
  border-radius: 10px;
  box-shadow: 2px 2px grey;
  min-height: fit-content;
}

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: grey;
  box-shadow: 2px 2px rgb(247, 236, 236);
  color: rgb(247, 236, 236);
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  width: 90%;
  height: 27vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  min-height: 220px;
}

.line {
  width: 95%;
  border-bottom: 2px solid rgb(247, 236, 236);
  margin-bottom: 10px;
}

.contact-detail {
  color: rgb(96, 94, 94);
  background-color: rgb(247, 236, 236);
  border-radius: 5px;
  padding: 2px 2px 2px 2px;
  box-shadow: 2px 2px lightgray;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 95%;
}

.bemutatkozas {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 78%;
  background-color: rgb(250, 250, 249);
  height: fit-content;
  margin-left: 5px;
  margin-top: 3px;
  font-family: "Open Sans", sans-serif;
  color: rgb(74, 74, 74);
  padding-right: 20px;
  min-width: 260px;
}

.bemutatkozas-szoveg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px grey;
  padding: 20px;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  background-color: rgb(247, 236, 236);
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  width: 100%;
  height: 10vh;
  align-items: center;
}

input {
  height: 50%;
  width: 30%;
  border: none;
  box-shadow: 2px 2px grey;
  border-radius: 10px;
  color: grey;
}

.actors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px grey;
  padding: 20px;
  width: 95%;
  height: fit-content;
  border-radius: 10px;
  background-color: rgb(247, 236, 236);
  box-sizing: border-box;
}

.actors > div {
  margin-top: 5px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.result {
  font-size: 140%;
  width: 30%;
  max-width: 400px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  color: rgb(247, 236, 236);
  background-color: grey;
  box-shadow: 2px 2px lightgray;
  padding: 10px;
  border-radius: 10px;
  min-height: 90px;
  min-width: 210px;
}

.resultButton {
  gap: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.showMore {
  font-size: 80%;
}

h1 {
  font-size: 36px;
  background-color: grey;
  box-shadow: 5px 5px lightgray;
  color: rgb(247, 236, 236);
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  display: flex;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  margin-left: 2%;
  font-weight: 400;
  margin-top: 1%;
}

h2 {
  font-weight: 400;
  margin-left: 4%;
  font-size: 20px;
}

h3 {
  margin-left: 2%;
  font-weight: 400;
  font-size: 16px;
}

img {
  margin-top: 3%;
  margin-left: 6%;
  margin-bottom: 5%;
  border-radius: 50%;
  width: 80%;
  border: 1px solid rgb(247, 236, 236);
  box-shadow: 2px 2px grey;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  .container {
    flex-wrap: wrap;
    gap: 10px;
  }

  .kepkapcsolat {
    width: 98%;
    margin: 0;
    margin-top: 20px;
    margin-left: 1%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 20px;
    padding: 5px;
  }

  img {
    width: 30%;
  }

  .contact {
    width: 60%;
    margin: 0;
    margin-right: 10px;
    height: fit-content;
  }

  .contact-detail {
    margin: 4px;
  }

  .bemutatkozas {
    width: 98%;
    margin: 0;
    padding-right: 0;
    margin-left: 1%;
  }

  .bemutatkozas-szoveg {
    width: 100%;
    margin: 0;
  }

  .actors {
    width: 100%;
    margin: 0;
  }
  input {
    width: 50%;
  }

  .navbar a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 450px) {
  h3 {
    font-size: 12px;
  }
  .contact {
    min-height: 50px;
  }
}
