@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f1f6f9;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

a {
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 92vh;
  width: 100%;
  background-color: #f1f6f9;
  height: fit-content;
}

.kepkapcsolat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 22%;
  background-color: #394867;
  height: fit-content;
  min-width: 350px;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 1px;
  margin-bottom: 10px;
  padding-bottom: 2px;
  min-height: fit-content;
}
.name-pic {
  height: fit-content;
}

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #9ba4b4;

  color: #f1f6f9;
  border-radius: 5px;
  padding: 10px 5px 2px 5px;
  width: 90%;
  height: fit-content;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  min-height: 250px;
}

.line {
  width: 95%;
  color: #f1f6f9;
  border-bottom: 2px solid #f1f6f9;
  margin-bottom: 10px;
}

.contact-detail {
  color: #14274e;
  background-color: #f1f6f9;
  border-radius: 5px;
  padding: 2px 2px 2px 2px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 90%;
}

.bemutatkozas {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73%;

  margin-left: 20px;
  margin-top: 10px;

  border-radius: 10px;
  background-color: transparent;
  box-sizing: border-box;

  height: fit-content;
  margin-left: 10px;
  margin-right: 5px;
  font-family: "Open Sans", sans-serif;
  color: rgb(74, 74, 74);
  padding-right: 20px;
  min-width: 260px;
}

.bemutatkozas-szoveg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
  width: 100%;
  height: fit-content;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  width: 100%;
  height: 10vh;
  align-items: center;
}

.starwars-input {
  height: 50%;
  width: 33%;
  border: none;
  box-shadow: 2px 2px grey;
  border-radius: 10px;
  color: #9ba4b4;
  margin-left: 20px;
}

.actors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  padding-bottom: 10px;
  background-color: transparent;
  box-sizing: border-box;
}

.actors > div {
  margin-top: 5px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.result {
  font-size: 140%;
  width: 30%;
  max-width: 400px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  color: rgb(247, 236, 236);
  background-color: #9ba4b4;
  box-shadow: 2px 2px #9ba4b4;
  padding: 10px;
  border-radius: 10px;
  min-height: 90px;
  min-width: 210px;
}

.englishButton {
  margin-top: 10px !important;
  margin-right: 10px !important;
  background-color: transparent !important;
  color: #14274e !important;
}

.resultButton {
  gap: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #394867 !important;
}

.sortButton {
  background-color: #394867 !important;
}

.showMore {
  font-size: 80%;
  color: #f1f6f9;
}

h1 {
  font-size: 36px;
  background-color: #394867;
  box-shadow: 2px 2px #9ba4b4;
  color: #f1f6f9;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  display: flex;
  margin-left: 2%;
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  font-size: 20px;
  margin-left: 2%;
  font-weight: 400;
  margin-top: 1%;
  color: #14274e;
}

h2 {
  font-weight: 700;
  margin-left: 3%;
  width: 83%;
  padding: 5px;
  font-size: 32px;
  margin-bottom: 1%;

  color: #f1f6f9;
  border-radius: 5px;
}

h3 {
  margin-left: 2%;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 1%;
}

h4 {
  letter-spacing: 1.2;
  font-weight: 400;
  margin-left: 4%;
  font-size: 20px;
  margin-bottom: 6%;
  color: #f1f6f9;
}

.profile-img {
  margin-top: 3%;
  margin-left: 6%;
  margin-bottom: 1%;
  border-radius: 50%;
  width: 60%;
  border: 1px solid #f1f6f9;
  box-shadow: 2px 2px #9ba4b4;
}

.weather-api {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 5px;
  width: 70%;
  background-color: transparent;
}

.weather-data-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 95%;
  background-color: #f1f6f9;
}

.weather-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
  margin-bottom: 10px;
}

.weather-text {
  font-size: 36px;
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #9ba4b4;
  box-shadow: 5px 5px #9ba4b4;
  color: #f1f6f9;
}

.city-name {
  color: #f1f6f9;
  background-color: #394867;
  box-shadow: 5px 5px #9ba4b4;
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 50px;
  width: fit-content;
  margin-top: 20px;
  text-shadow: 2px 2px 2px #aaa8a8;
}

.icon {
  width: 50px;
  height: 50px;
  padding-left: 50%;
}

.city-input {
  border: none;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: #f1f6f9;
  height: 55%;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  padding-left: 50px;
  text-shadow: 2px 2px 2px #aaa8a8;
}

.city-search::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

.city-input ::placeholder {
  color: #f1f6f9 !important;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.search-button {
  height: 90%;
  border: 0;
  width: 140px;
  background-color: transparent;
  margin-right: 20px;
}

.search-icon {
  width: 80%;
  background-color: transparent;

  height: 65%;
  border-radius: 30px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #f1f6f9;
  box-shadow: 2px 2px #394867;
}

.search-icon:active {
  border: 0;
  box-shadow: 2px 2px #9ba4b4;
}

.search-div {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin-bottom: 30px;
}

.search-bar {
  margin-top: 15px;
  margin-bottom: 5px;
  height: 10vh;
  display: flex;
  border-radius: 10px;
  background-color: #9ba4b4;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.calculator-body {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73%;

  margin-left: 20px;
  margin-top: 10px;

  border-radius: 10px;
  background-color: transparent;
  box-sizing: border-box;

  height: 83%;
  margin-left: 10px;
  margin-right: 5px;
  font-family: "Open Sans", sans-serif;
  color: rgb(74, 74, 74);
  padding-right: 20px;
  min-width: 260px;
}

.calculator {
  width: 25%;
  min-width: 340px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #9ba4b4;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px #394867;
}

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  font-size: 30px;
  color: #14274e;
  font-weight: 700;
  height: 20%;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f1f6f9;
  border-radius: 10px;
  text-align: right;
  padding-right: 15px;
}

.calc-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  background-color: transparent;
  gap: 1%;
  height: 38%;
}

.calc-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 21%;
  height: 31%;
  background-color: #14274e;
  color: #f1f6f9;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 15px;
  box-shadow: 2px 2px #f1f6f9;
  cursor: pointer;
  border: 1px solid #f1f6f9;
}

.calc-button:active {
  box-shadow: none;
  border: 0;
}

.calc-button:hover {
  background-color: #f1f6f9;
  color: #14274e;
}

.calc-button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 21%;
  height: 31%;
  background-color: #394867;
  color: #f1f6f9;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 15px;
  box-shadow: 2px 2px #f1f6f9;
  cursor: pointer;
  border: 1px solid #f1f6f9;
}

.calc-button2:active {
  box-shadow: none;
  border: 0;
}

.calc-button2:hover {
  background-color: #f1f6f9;
  color: #14274e;
}

.zero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 45%;
  height: 28%;
  background-color: #14274e;
  color: #f1f6f9;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px #f1f6f9;
  cursor: pointer;
  border: 1px solid #f1f6f9;
}

.zero-button:active {
  box-shadow: none;
  border: 0;
}

.zero-button:hover {
  background-color: #f1f6f9;
  color: #14274e;
}

.ac-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 45%;
  height: 28%;
  background-color: #394867;
  color: #f1f6f9;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px #f1f6f9;
  cursor: pointer;
  border: 1px solid #f1f6f9;
}

.ac-button:active {
  box-shadow: none;
  border: 0;
}

.ac-button:hover {
  background-color: #f1f6f9;
  color: #14274e;
}
/* számológép mobilnezet */

.dropdown-item {
  position: absolute;
  top: 8%;
  right: 20.8%;
  background-color: #f1f6f9;
  list-style: none;
  border-left: 1px solid #9ba4b4;
  border-bottom: 1px solid #9ba4b4;
  border-right: 1px solid #9ba4b4;
  height: fit-content;
  width: 11%;
  min-width: 120px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px #394867;
}

.dropdown-item-row {
  margin-top: 2%;
  text-decoration: none;
  font-size: 20px;
  color: #14274e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border-radius: 10px;
  font-weight: 400;
}

@media only screen and (max-width: 715px) {
  .calc-buttons {
    flex-wrap: wrap;
  }

  .city-input ::placeholder {
    font-size: 12px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h4 {
    font-size: 12px;
  }

  .container {
    flex-wrap: wrap;
    gap: 10px;
  }
  .calculator {
    margin-bottom: 10px;
  }

  .kepkapcsolat {
    width: 98%;
    margin: 0;
    margin-top: 20px;
    margin-left: 1%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 20px;
    padding: 5px;
  }

  .weather-api {
    width: 98%;
    margin-bottom: 1%;
    padding-right: 0;
    margin-left: 1%;
  }

  img {
    width: 70%;
  }

  .englishButton {
    margin-top: 10px !important;
    margin-right: 10px !important;
    background-color: transparent !important;
  }

  .contact {
    width: 60%;
    margin: 0;
    margin-right: 10px;
    height: fit-content;
  }

  .contact-detail {
    margin: 4px;
  }

  .bemutatkozas {
    width: 98%;
    margin: 0;
    padding-right: 0;
    margin-left: 1%;
  }

  .bemutatkozas-szoveg {
    width: 100%;
    margin: 0;
  }

  .actors {
    width: 100%;
    margin: 0;
    padding: 5px;
  }
  input {
    width: 50%;
  }

  .navbar a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 450px) {
  h3 {
    font-size: 12px;
  }
  .contact {
    min-height: 50px;
  }

  .englishButton {
    margin-top: 10px !important;
    margin-right: 10px !important;
  }
}
