@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #f1f6f9;
  border-bottom: 1px solid #9ba4b4;
  text-decoration: none;
  height: 8vh;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1%;
}

.navbar a {
  text-decoration: none;
  font-size: 20px;
  color: #14274e;
  padding: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  height: fit-content;
  border-radius: 10px;
}

.navbar h3 {
  text-decoration: none;
  font-size: 20px;
  color: #14274e;
  padding: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  height: fit-content;
  border-radius: 10px;
  cursor: pointer;
}

.navbar:visited {
  background-color: aquamarine;
}

.navbar a:hover {
  background-color: #9ba4b4;
  color: #fdf5ec;
  transition: 0.6s;
  padding: 8px;
  border-radius: 10px;
}

.navbar h3:hover {
  background-color: #9ba4b4;
  color: #fdf5ec;
  transition: 0.6s;
  padding: 8px;
  border-radius: 10px;
}

@media only screen and (max-width: 850px) {
  .navbar a {
    font-size: 16px;
  }

  .navbar h3 {
    font-size: 16px;
  }

  .navbar {
    padding: 5px;
  }

  .navbar a:hover {
    background-color: #878c94;
    color: #fdf5ec;
    transition: 0.6s;
    padding: 7px;
    border-radius: 10px;
  }

  .navbar h3:hover {
    background-color: #878c94;
    color: #fdf5ec;
    transition: 0.6s;
    padding: 7px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 540px) {
  .navbar a {
    font-size: 16px;
  }
  .navbar {
    flex-wrap: wrap;
    padding: 5px;
    height: fit-content;
  }
}
