.weather-api {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 5px;
    width: 70%;
    background-color: transparent;
  }
  
.weather-data-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 95%;
    background-color: #f1f6f9;
}

.weather-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    margin-bottom: 10px;
}

.weather-text {
    font-size: 36px;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #9ba4b4;
    box-shadow: 5px 5px #9ba4b4;
    color: #f1f6f9;
}

.city-name {
    color: #f1f6f9;
    background-color: #394867;
    box-shadow: 5px 5px #9ba4b4;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 50px;
    width: fit-content;
    margin-top: 20px;
    text-shadow: 2px 2px 2px #aaa8a8;
}

.icon {
    width: 50px;
    height: 50px;
    padding-left: 50%;
}

.city-input {
    border: none;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #f1f6f9;
    height: 55%;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    padding-left: 50px;
    text-shadow: 2px 2px 2px #aaa8a8;
}

.city-input::placeholder {
    color: #f1f6f9;
}

.city-search::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
}

.city-input ::placeholder {
    color: #f1f6f9 !important;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.search-button {
    height: 90%;
    border: 0;
    width: 140px;
    background-color: transparent;
    margin-right: 20px;
}

.search-icon {
    width: 80%;
    background-color: transparent;
    height: 65%;
    border-radius: 30px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #f1f6f9;
    box-shadow: 2px 2px #394867;
}

.search-icon:active {
    border: 0;
    box-shadow: 2px 2px #9ba4b4;
}

.search-div {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-bottom: 30px;
}

.search-bar {
    margin-top: 15px;
    margin-bottom: 5px;
    height: 10vh;
    display: flex;
    border-radius: 10px;
    background-color: #9ba4b4;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

@media only screen and (max-width: 715px) {
    .city-input ::placeholder {
        font-size: 12px;
      }

      .weather-api {
        width: 98%;
        margin-bottom: 1%;
        padding-right: 0;
        margin-left: 1%;
      }
}