@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f1f6f9;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 92vh;
  width: 100%;
  background-color: #f1f6f9;
  height: fit-content;
}

h1 {
  font-size: 28px;
  border-bottom: 4px solid #394867;
  color: #394867;
  display: flex;
  margin-left: 2%;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1:not(:first-child) {
  margin-top: 22px;
}

h2 {
  font-weight: 700;
  margin-left: 3%;
  width: 83%;
  padding: 5px;
  font-size: 30px;
  margin-bottom: 1%;

  color: #f1f6f9;
  border-radius: 5px;
}

h3 {
  margin-left: 2%;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 1%;
}

h4 {
  letter-spacing: 1.2;
  font-weight: 400;
  margin-left: 4%;
  font-size: 20px;
  margin-bottom: 6%;
  color: #f1f6f9;
}

.main-text {
  font-size: 24px;
  margin-top: 12px;
}

ul {
  margin-bottom: 12px;
  padding-left: 2%;
  width: 100%;
}

p, 
li {
  font-size: 18px;
  margin-left: 2%;
  font-weight: 400;
  margin-top: 1%;
  color: #14274e;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
}

.englishButton {
  margin-top: 5px !important;
  margin-right: 5px !important;
  background-color: #14274e !important;
  color: #f1f6f9 !important;
}

@media only screen and (max-width: 715px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h4 {
    font-size: 12px;
  }

  .container {
    flex-wrap: wrap;
    gap: 10px;
  }

  img {
    width: 70%;
  }

  .englishButton {
    margin-top: 5px !important;
    margin-right: 5px !important;
  }

  input {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  h3 {
    font-size: 12px;
  }

  .englishButton {
    margin-top: 5px !important;
    margin-right: 5px !important;
  }
}
